/* your styles go here */

/* your styles go here */


.dropdown a {
  text-decoration: none;
}

.dropdown ul {
  background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.dropdown li {
  color: #fff;
  background: darkorange;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
  
.dropdown li a {
  color: #fff;
}

.dropdown li:hover {
  background: red;
  cursor: pointer;
}

.dropdown ul li ul {
  background: orange;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

.dropdown ul li:hover > ul,
.dropdown ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.dropdown ul li ul li {
  clear: both;
  width: 100%;
}